<configuration>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Suppress noisy AWS/Netty internals -->
    <logger name="software.amazon.awssdk" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="com.deepgram.loadtest" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="STDERR"/>
    </root>
</configuration>
